<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="d435">


    <xacro:macro name="d435_camera" params="xyz rpy parent camera_name color">


        <xacro:property name="camera_lenght" value="0.02" />
        <xacro:property name="camera_width" value="0.07" />
        <xacro:property name="camera_height" value="0.03" />
        <xacro:property name="camera_horizontal_fov" value="1.3962634" />


        <link name="${camera_name}">

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="$(find robovolc_rosys)/meshes/realsense_d435.stl" />
                </geometry>
            </collision>

            <visual>
                <origin xyz="0 0 0" rpy="1.57 0 1.57" />
                <geometry>
                    <mesh filename="$(find robovolc_rosys)/meshes/realsense_d435.stl" />
                </geometry>
            </visual>

            <inertial>
                <mass value="0.001" />
                <origin xyz="0 0 0" rpy="1.57 0 1.57" />
                <inertia ixx="0.00000015" ixy="0" ixz="0" iyy="0.00000015" iyz="0" izz="0.00000015" />
            </inertial>

        </link>

        <joint name="${camera_name}_joint" type="fixed">
            <origin xyz="${xyz}" rpy="${rpy}" />
            <parent link="${parent}" />
            <child link="${camera_name}" />
        </joint>

        <link name="${camera_name}_optical" />

        <joint name="${camera_name}_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="${camera_name}" />
            <child link="${camera_name}_optical" />
        </joint>

        <xacro:if value="$(arg enable_gazebo_plugin)">
            <gazebo reference="${camera_name}">
                <material>${color}</material>
                <sensor type="multicamera" name="${camera_name}">
                    <update_rate>10.0</update_rate>
                    <always_on>true</always_on>
                    <camera name="left">
                        <pose>0 0 0 0 0 0</pose>
                        <horizontal_fov>${camera_horizontal_fov}</horizontal_fov>
                        <image>
                            <width>640</width>
                            <height>480</height>
                            <format>R8G8B8</format>
                        </image>
                        <clip>
                            <near>0.3</near>
                            <far>20</far>
                        </clip>
                        <noise>
                            <type>gaussian</type>
                            <mean>0.0</mean>
                            <stddev>0.0</stddev>
                        </noise>
                        <distortion>
                            <k1>0.0</k1>
                            <k2>0.0</k2>
                            <k3>0.0</k3>
                            <p1>0.0</p1>
                            <p2>0.0</p2>
                            <center>0.5 0.5</center>
                        </distortion>
                    </camera>

                    <camera name="right">
                        <pose>0 -0.12 0 0 0 0</pose>
                        <horizontal_fov>${camera_horizontal_fov}</horizontal_fov>
                        <image>
                            <width>640</width>
                            <height>480</height>
                            <format>R8G8B8</format>
                        </image>
                        <clip>
                            <near>0.3</near>
                            <far>20</far>
                        </clip>
                        <noise>
                            <type>gaussian</type>
                            <mean>0.0</mean>
                            <stddev>0.0</stddev>
                        </noise>
                        <distortion>
                            <k1>0.0</k1>
                  <k2>0.0</k2>0 <k3>0.0</k3>
                  <p1>0.0</p1>
                  <p2>0.0</p2>
                  <center>0.5
                            0.5</center>
                        </distortion>
                    </camera>

                    <plugin name="${camera_name}_controller" filename="libgazebo_ros_camera.so">

                        <camera_name>${camera_name}</camera_name>
                        <frame_name>${camera_name}_optical</frame_name>
                        <hack_baseline>0.12</hack_baseline>


                    </plugin>

                </sensor>
            </gazebo>
        </xacro:if>

    </xacro:macro>

</robot>